*                     @mansi-2305
/frontend/            @AISHWARYA282205 @mansi-2305
/backend/             @mansi-2305 @Sahithya-1706
/ai-sandbox-engine/   @Sahithya-1706 @mansi-2305
/docs/                @AISHWARYA282205 @mansi-2305 @Sahithya-1706
/.github/             @mansi-2305
